// Variables and mixins
@import 'variables';
@import 'mixins';
@import 'functions';

// Third-party libraries
@import 'node_modules/sass-mq/mq';

// Reset, overrides and utils
@import 'reset';
@import 'overrides';
@import 'utilities';
@import 'grid';
@import 'typography';
@import 'buttons';
@import 'icons';
@import 'pills';

// Components
@import 'components/masthead';
@import 'components/share-buttons';
@import 'components/footer';
@import 'components/table';
@import 'components/ads';
@import 'components/related-content';
@import 'components/ribbon';

body {
  margin: 0;
  padding: 0;
  display: block;
}
.intro-container {
  height: 100vh;
  width: 100%;
}
.intro {
  height: 100%;
  width: 100%;
  background-color: #1e252f;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #f0f0ee;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
h1 {
  font-size: 75px;
  margin-bottom: 25px;
  line-height: 75px;
  font-weight: 700;
  font-family: $font-sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  padding: 10px;
  border-top: 3px solid #f0f0ee;
  border-bottom: 3px solid #f0f0ee;
  font-weight: 700;
  max-width: 500px;
}
