{% extends 'base.html' %}
{% from 'macros/prose.html' import prose %}
{% from 'macros/ads.html' import ad %}

{% set jsPackName = 'main' %}
{% set context = data.text %}
{% set authorComma = joiner() %}

{% block content %}
<div class="intro-container">
  <header class="intro">
    <!-- <h1 class="article-title">{{ context.title or 'The only member-supported, digital-first, nonpartisan media organization' }}</h1>
    <p class="article-byline">
      <span class="article-author">By {%- for author in context.authors or ['Super Cool Corgi', 'Friends'] -%}
      {% if not loop.last %}{{ authorComma() }}{% elif not loop.first %} and{% endif %} {{ author }}
      {%- endfor -%}
      </span>
      {% if context.update_date %}
      <span class="article-pub-date">Updated: <time datetime="{{ context.update_date }}">{{ apFormatDate(context.update_date) }}</time></span>
      {% else %}
      <span class="article-pub-date"><time datetime="{{ context.pub_date }}">{{ apFormatDate(context.pub_date) }}</time></span>
      {% endif %}
    </p> -->
    <h1>JOUR71105</h1>
    <h3>Fundamentals of Multimedia Storytelling: Interactive Journalism</h3>
  </header>


  <div class="intro-prose">
    {{ prose(context.prose, context, data) }}
  </div>
</div>

<!-- <div id="ribbon-container"></div> -->
{% endblock content %}

{% block inline_data %}
<script>
  window.ttData = {
    gutenTag: '{{ context.guten_tag or "subject-politics" }}'
  };
</script>
{% endblock inline_data %}
